@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap");

$header: #2e323f;
$primary: #3b4050;
$secondary: #e7e7e8;
$highlight: #a59678;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  font-family: "Oswald", "Montserrat", serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}
.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
